@page "/signup"
@inject IToastService toastService

<div class="font-[sans-serif] bg-gradient-to-r from-indigo-800 via-indigo-600 to-indigo-500 text-gray-800" style="background-image:url('images/auth.jpg'); background-position:center; background-repeat:no-repeat; background-size:cover">
	<div class="min-h-screen flex fle-col items-center justify-center lg:p-6">
		<div class="flex justify-center md:justify-end items-center mx-0 sm:px-10 md:px-20 lg:px-60 w-full">
			<div class="min-h-screen bg-transparent py-6 flex flex-col justify-center sm:py-12 w-full lg:w-auto">
				<div class="relative py-3 w-full pb-40 mx-auto">
					<div class="absolute inset-0 mb-40 bg-gradient-to-r from-indigo-200 to-indigo-600 shadow-lg transform -skew-y-3 sm:skew-y-0 sm:-rotate-3 sm:rounded-3xl">
					</div>
					<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
						<EditForm Model=@userDTO OnValidSubmit="SubmitHandler" class="w-full mx-auto">
							<DataAnnotationsValidator />
							<div class="mb-12">
								<h3 class="text-4xl font-extrabold text-indigo-600">Sign Up</h3>
							</div>
							<div class="mb-2">
								<div class="relative flex items-center">
									<input @bind="@userDTO.FirstName" type="text" required class="w-full text-sm border-b border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none" placeholder="First Name" />
									<svg xmlns="http://www.w3.org/2000/svg" class="w-[18px] h-[18px] absolute right-2" fill="#bbb" stroke="#bbb" viewBox="0 0 448 512"><path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" /></svg>
								</div>
							</div>
							<div class="mb-2">
								<div class="relative flex items-center">
									<input @bind="@userDTO.LastName" type="text" required class="w-full text-sm border-b border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none" placeholder="Last Name" />
									<svg xmlns="http://www.w3.org/2000/svg" class="w-[18px] h-[18px] absolute right-2" fill="#bbb" stroke="#bbb" viewBox="0 0 448 512"><path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" /></svg>
								</div>
							</div>
							<div class="mb-2">
								<div class="relative flex items-center">
									<input @bind="@userDTO.Email" name="email" type="email" required class="w-full text-sm border-b border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none" placeholder="Email Address" />
									<svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 682.667 682.667">
										<defs>
											<clipPath id="a" clipPathUnits="userSpaceOnUse">
												<path d="M0 512h512V0H0Z" data-original="#000000"></path>
											</clipPath>
										</defs>
										<g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
											<path fill="none" stroke-miterlimit="10" stroke-width="40" d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z" data-original="#000000"></path>
											<path d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z" data-original="#000000"></path>
										</g>
									</svg>
								</div>
							</div>
							<div class="mb-2">
								<div class="relative flex items-center">
									<input @bind="@userDTO.Password" name="password" type="password" required class="w-full text-sm border-b border-gray-300 focus:border-indigo-600 px-2 py-3 outline-none" placeholder="Password" />
									<svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 512 512"><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17l0 80c0 13.3 10.7 24 24 24l80 0c13.3 0 24-10.7 24-24l0-40 40 0c13.3 0 24-10.7 24-24l0-40 40 0c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z" /></svg>
								</div>
							</div>

							<div class="flex flex-wrap items-center justify-end gap-4 mt-6">
							</div>

							<div class="mt-12">
								<button type="submit" class="w-full shadow-xl py-2.5 px-5 text-sm font-semibold rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none">
									Sign Up
								</button>
								<p class="text-gray-800 text-sm text-center mt-6">Do you have an account ? <a href="/signin" class="text-indigo-600 font-semibold hover:underline ml-1 whitespace-nowrap">Login Here</a></p>
							</div>
						</EditForm>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	[Inject]
	HttpClient Client { get; set; }

	[Inject]
	NavigationManager navigationManager { get; set; }

	[CascadingParameter]
	public Task<AuthenticationState> AuthState { get; set; }

	private UserDTO userDTO = new();

	protected async override Task OnInitializedAsync()
	{
		var authState = await AuthState;
		if (authState.User.Identity.IsAuthenticated)
		{
			navigationManager.NavigateTo("/");
		}
	}

	protected async Task SubmitHandler()
	{
		var data = await Client.PostServiceResponseAsync<UserDTO, UserDTO>("api/User/Create", userDTO);

		if (data != null)
		{
			toastService.ShowSuccess("Successfully registered");
			navigationManager.NavigateTo("/signin");
		}
	}
}
