<header>
    <nav class="relative container mx-auto p-6 bg-transparent">
        <div class="flex items-center justify-between">
            <div class="flex items-center space-x-20">
                <a href="/admin/dashboard" class="text-4xl text-indigo-600 font-bold" style="font-family:Pacifico">Abyss</a>
                <div class="hidden space-x-8 font-bold lg:flex">
                    <a href="/" class="text-indigo-600 hover:text-indigo-500">Main Page</a>
                </div>
            </div>
            <div class="hidden items-center space-x-6 font-bold text-indigo-600 lg:flex">
                <a href="/logout" class="px-8 py-3 font-bold text-white bg-indigo-600 rounded-full hover:opacity-90">Logout</a>
            </div>
        </div>
    </nav>
</header>
