@page "/admin/dashboard"
@layout AdminLayout

<div class="h-screen rounded-xl" style="background-image:url('images/auth.jpg'); background-position:center; background-repeat:no-repeat; background-size:cover">
	
</div>

@code {

}
